<h1>Showing a Todo!</h1>

<p>
  name: <%= @todo.name %>
</p>

<p>
  description <%= @todo.description %>
</p>

<%= link_to "Edit Todo", edit_todo_path %> |
<%= link_to "Go back to listing", todos_path %>